footer {
    @apply bg-gray-solid;
}

.footer-container {
    @apply grid max-w-[1216px] px-4 pt-8 pb-6 m-auto font-Source;
    @apply tablet:grid-cols-2-auto tablet:grid-rows-6-auto pb-8 pt-12;
}

.footer-container hr {
    @apply mb-5;
}

.footer-container .footer-logo{
    @apply mb-6;
    @apply tablet:mb-10;
    @apply xl:mb-[56px];
    @media (min-width: 767px) { /*Tablet breakpoint*/
        grid-area: 1 / 1 / 2 / 2;
    }
}

.footer-container .footer-logo img{
    @apply h-6 max-w-full;
    @apply h-8;
}

.footer-container .footer-contact {
    @apply mb-4;
    @apply tablet:flex tablet:justify-center tablet:flex-col;
    @apply xl:items-start;
    @media (min-width: 767px) {
        grid-area: 4 / 1 / 4 / 3;
    }
    @media (min-width: 1024px) {
        grid-area: 3 / 2 / 3 / 3;
    }
}

.footer-container .footer-contact .footer-contact-center {
    @apply text-darkscale-40 mb-4;
    @apply tablet:flex tablet:flex-col tablet:items-center;
    @apply tablet:items-start;
}

.footer-container .footer-contact .footer-contact-center span {

}

.footer-container .footer-contact .footer-contact-contacts-list {
    @apply flex flex-col justify-center gap-[18px];
    @apply tablet:flex-row;
}

.footer-container .footer-contact .footer-contact-contacts-list a {
    @apply flex text-darkscale-80;
    @apply leading-[22px];
}

.footer-container .footer-contact .footer-contact-contacts-list a:hover {
    @apply underline;
}

.footer-container .footer-contact .footer-contact-contacts-list a img {
    @apply w-6 mr-2.5;
    @apply tablet:w-5;
}

.footer-container nav {
    @media (min-width: 767px) { /*Tablet breakpoint*/
        grid-column: 1 / 3;
    }
    @media (min-width: 1024px) {/*XL breakpoint*/
        grid-area: 2 / 1 / 5 / 2;
    }
}

.footer-container nav ul {
    @apply flex gap-y-[18px] flex-wrap mb-5;
    @apply tablet:mb-10;
}

.footer-container nav ul li {
    @apply flex-shrink-0 flex-grow-0 basis-[45%] text-darkscale-80;
    @apply tablet:basis-1/3;
    @apply xl:basis-[50%];
}

.footer-container nav ul li:hover {
    @apply underline;
}

.footer-container .footer-socials {
    @apply tablet:flex tablet:justify-end tablet:items-center tablet:h-fit;
    @media (min-width: 767px) { /*Tablet breakpoint*/
        grid-area: 1 / 2 / 1 / 3;
    }
}

.footer-container .footer-socials div span {
    @apply hidden text-darkscale-40;
    @apply tablet:block;
}

.footer-container .footer-socials ul {
    @apply flex items-center justify-center mb-4 text-3xs;
    @apply tablet:mb-0 tablet:ml-[15px];
}

.footer-container .footer-socials ul li {
    @apply w-[52px] mx-1;
    @apply sm:w-16;
    @apply tablet:w-8;
}

.footer-container .footer-socials ul li:first-child {
    @apply ml-0;
}

.footer-container .footer-socials ul li:last-child {
    @apply mr-0;
}

.footer-container .footer-socials ul li:hover {
    @apply underline;
}

.footer-container .footer-socials ul li span {
    @apply block w-full text-center text-darkscale-40;
    @apply tablet:hidden;
}

.footer-container .footer-socials ul img{
    @apply w-9 h-9 m-auto;
    @apply tablet:w-8 tablet:h-8 tablet:m-0;
}

.footer-container .footer-subfooter-hr {
    @media (min-width: 767px) {
        grid-area: 5 / 1 / 5 / 3;
    }
}

.footer-container .footer-subfooter {
    @apply text-2xs;
    @apply tablet:flex justify-between;
    @media (min-width: 767px) { /*Tablet breakpoint*/
        grid-area: 6 / 1 / 6 / 3;
    }
}

.footer-container .footer-subfooter div:last-child {
    @apply hidden;
    @apply tablet:block;
}

.footer-container .footer-subfooter a:hover{
    @apply underline;
}

.footer-container .footer-subfooter .separator{
    @apply mx-[7px];
}

.footer-container .footer-logos{
    @apply hidden;
    @apply tablet:flex w-full;
    @apply xl:flex-wrap;
    @media (min-width: 767px) {/*Tablet breakpoint*/
        grid-area: 3 / 1 / 3 / 3;
    }
    @media (min-width: 1024px) {/*XL breakpoint*/
        grid-area: 2 / 2 / 2 / 3;
    }
}

.footer-container .footer-logos li{
    @apply flex-1 mb-10;
    @apply xl:flex xl:grow-0 xl:shrink xl:basis-[30%] content-start;
}

.footer-container .footer-logos li a {
    @apply flex justify-center;
}

.footer-container .footer-logos li img {
    @apply h-5;
    @apply xl:h-6;
}

.footer-container {

}
